/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 juil. 2014, 16:03:38
    Author     : LINA
*/
.rouge {
  background: red ;
}
.bleu {
  background: blue ;
}
.vert {
  background: green;
}
.blanc {
  background: white;
}
.violet {
  background: purple;
}
.gris {
  background: grey;
}
.rose {
  background: pink;
}
div {
  background-color: inherit;
}
h1 {
  color: blue;
}
.inline-block {
  display: inline-block;
}
.show {
  display: block;
  visibility: visible;
}
.hide {
  display: none;
  visibility: hidden;
}
.row {
  margin: 3px 3px 3px 3px;
}
.contenu {
  border-radius: 19px;
  border: 2px solid #800080;
  display: inline-block;
  height: 400px;
}
.bille {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 95px;
  display: inline-block;
}
<<<<<<< HEAD
<<<<<<< HEAD
.btn_valider {
  vertical-align: top;
  margin-top: 20px;
}
#indiceBlock {
  float: right;
=======
#testBlock {
  padding: 5px;
>>>>>>> origin/master
=======
#testBlock {
  padding: 5px;
>>>>>>> 906b38e44f955a870f2f4fbee6cb63dde9168321
}
#liste_couleur {
  list-style: none;
}
#liste_couleur li {
  display: inline-block;
}
.couleur {
  width: 45px;
  height: 45px;
  border: 1px solid black;
  border-radius: 94px;
}
.indices {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: grey;
  border: 1px solid black;
}
